name: build

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET 6
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Install tooling
      run: |
        dotnet publish source\trx2junit\trx2junit.csproj -c release -p:PublishSingleFile=true --self-contained true --runtime win-x64 --framework net6.0 -p:PublishTrimmed=true -o ./publish
        Get-ChildItem .\publish | Compress-Archive .\release.zip
    # - name: Upload Artifact
    #   uses: actions/upload-artifact@v3
    #   with:
    #     name: tool
    #     path: ./publish
    #     if-no-files-found: ignore
    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        prerelease: false
        title: "Release"
        files: |
          .\release.zip
